.board-square {
  width: 100px;
  height: 100px;
}

.color-square {
  background-color: hsl(calc(var(--square-index) * 20), 70%, 50%);
}

.layout {
  display: grid;
  gap: 8px;
}

.start-square {
  width: 100px;
  height: 100px;
  background-color: lightblue; /* Choose your desired color */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: bold;
}
/* 
@media (max-width: 499px) {
  .layout {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (max-width: 799px) and (min-width: 500px) {
  .layout {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 1144px) and (min-width: 800px) {
  .layout {
    grid-template-columns: repeat(5, 1fr);
  }
}
@media (min-width: 1144px) {
  .layout {
    grid-template-columns: repeat(10, 1fr);
  }
} */
