/* For global components */
h2 {
  font-weight: 500;
}

h3 {
  font-weight: 400;
}

button {
  border-radius: 20px;
  border: 4px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #F4511E;
  color: white;
  cursor: pointer;
  transition: background-color 0.25s;
  margin: 10px;
}
button:hover {
  background-color: #1a1a1a;
}

button:focus,
button:focus-visible {
  outline: 4px auto #F4511E;
  background-color: #1a1a1a;
}

a {
  display: inline-block;
  font-weight: 500;
  font-size: 24px;
  padding: 20px 40px;
  margin-top: 40px;
  border-radius: 40px;
  color: black;
  text-decoration: none;
  transition: background-color 0.25s;
}

a:hover {
  background-color: #1E88E5;
  color: white;
}

/* For SetUp */
.setup {
  text-align: center;
  margin-top: 50px;
}

.game-title {
  margin: 20px 30%;
  padding: 20px;
  background-color: black;
  border-radius: 40px;
  color: white;
}

/* For Questions */
.subtitle {
  font-weight: 600;
  font-size: 30px;
}

.question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 60px;
}

.countdown {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(214, 214, 214);
  height: 30px;
  width: 30px;
  border-radius: 10px;
  color: white;
  padding: 10px;
  margin-left: 50px;
}

.answers {
  display: flex;
  gap: 20px;
}

.answer {
  margin: 0;
  flex-grow: 1;
  background-color: #1a1a1a;
  border-radius: 10px;
}

.answer:hover {
  background-color: #FFB300;
}

.answer:focus,
.answer:focus-visible {
  outline: 4px auto black;
  background-color: #FFB300;
}

/* For GameBoard */
.square {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  font-weight: 500;
  color: white;
}

.center {
  text-align: center;
  margin-top: 25%;
}